{% extends "layout.html" %}
{% block body %}
<div class="tab-pane" id="test_method">
    <div class="panel-body">
        <form class="form form-vertical methodform" method="post">
            <div class="control-group">
                <label>Name</label>
                <div class="controls">
                    <input name="method_name" type="text" class="form-control" placeholder="Enter Name">
                </div>
            </div>
            <div class="control-group">
                <label>Url</label>
                <div class="controls">
                    <input name="method_url" type="text" class="form-control" placeholder="Enter url">
                </div>
            </div>
            <div class="control-group">
                <label>Request parametars</label>
                <div class="controls">
                    <input name="param_name[]" class="form-control" placeholder="Param name" style="width:32%; float: left; margin-right:3px;">
                    <input name="param_type[]" class="form-control" placeholder="Type=>string or integer" style="width:31%; float: left;margin-right:4px;">
                    <input name="description[]" class="form-control" placeholder="Description" style="width:31%; float: left;margin-right:4px;">
                    <input type="button" value="Add" style="display: block; float: left;" class="btn btn-primary add_more" onclick="javascript: duplicate($(this))">
                    <div style="clear: both;"></div>
                </div>
            </div>   
            <div class="control-group">
                <label>Success Response code</label>
                <div class="controls">
                    <textarea class="form-control" id="s_c" ></textarea>
                    <input type="hidden" name="success_code" id="success_code" />
                </div>
            </div>
            <div class="control-group">
                <label>Error Response code</label>
                <div class="controls">
                    <textarea class="form-control" id="e_c" ></textarea>
                    <input type="hidden" name="error_code" id="error_code" />
                </div>
            </div>
            <div class="control-group">
                <label>Projects</label>
                <div class="controls">
                    {% for project in projects %}
                    <input type="checkbox" name="project[]" value="{{ project }}"  /> {{ project|capitalize }}
                    {% endfor %}
                </div>
            </div> 
            
            <div class="control-group" style="padding-bottom: 40px;">
                <label></label>
                <div class="controls">
                    <button type="submit" class="btn btn-primary">
                        Add method
                    </button>
                    <a href="/">Return to home</a>
                </div>
            </div>   
        </form>
    </div>
</div>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
<script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/lib/json.js') }}"></script>
<script type='text/javascript'>
    function duplicate(el) {
        el.parent().clone().insertAfter(el.parent());
        var new_el = el.parent().next().find($(".add_more"));
        new_el.parent().css("margin-top","15px");
        new_el.val(" - ");
        new_el.attr("onclick","javascript: remove_el($(this))");
    }
    function remove_el(el) {
        el.parent().remove();
    }

    $(document).ready(function() {

        $(".methodform").submit(function(e){
        
            var sccode = sc.getValue();
            var eccode = ec.getValue();
            $("#success_code").val(sccode);
            $("#error_code").val(eccode);
        });
    });
</script>
{% endblock %}